* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

h1 {
  background-color: rgb(241, 216, 182);
  margin: 0 auto;
  text-align: center;
}

li {
  padding-bottom: 10px;
  font-size: 18px;
}

.home {
  font-size: 20px;
  display: block;
  margin: 10px 0;
}

img {
  display: block;
  margin: 10px auto;
}

figcaption {
  display: block;
  margin-left: auto;
}

p{
    line-height: 20px;
    font-size: 18px;
}
